
.blog-form {
  max-width: 500px;
  margin: auto;
  color: white;

  .field:not(:last-child) {
    margin-bottom: 2rem;
  }

  .control {
    .input {
      border-radius: unset;
      background-color: transparent;
      color: inherit;

      &:focus, &:-internal-autofill-selected {
        background-color: transparent;
        border-color: white;
        box-shadow: unset;
        outline: none;
      }
    }

    ::placeholder {
      color: inherit;
    }

    .textarea {
      background-color: transparent;
      color: white;

      &:focus {
        background-color: transparent;
        border-color: white;
        box-shadow: unset;
        outline: none;
      }
    }
  }

  .button {
    background-color: transparent;
    color: $post-text-color;

    &:hover {
      background-color: $content-green;
    }
  }
}