.blog-roll {
  @include e(container) {
    display: grid;
    grid-gap: 2rem;
  }

  .post-section {
    p {
      color: white;
    }
  }

  .post-content {
    span {
      color: $post-text-color;
    }
  }

  .has-text-primary {
    &:hover {
      text-decoration: underline;
    }
  }
}

.blog-page {
  @media screen and (min-width: $min-mobile-device-width) and (max-width: $max-mobile-device-width) {
    padding: 3rem 0.5rem;
  }

  h1 {
    font-size: $h1-font-size !important;
  }

  h2 {
    font-size: $h2-font-size !important;
  }

  h3 {
    font-size: $h3-font-size !important;
  }

  h4 {
    font-size: $h4-font-size !important;
  }

  a {
    overflow-wrap: break-word;
  }

  .comments-container {
    display: grid;
    place-content: center;

    .load-comments {
      @extend .button;
      background-color: transparent;
      color: white;
    }

    .hide {
      display: none;
    }
  }

  @media screen and (min-width: $min-mobile-device-width) and (max-width: $max-mobile-device-width) {
    .section {
      padding: 3rem 1rem;
    }
  }
}