// BEM Mixins
@mixin e($element) {
  &__#{$element} {
      @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
      @content;
  }
}

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red:#f93257;
$kaldi-red-invert: #fff;

// Colors
$primary: $kaldi-red;
$primary-invert: $kaldi-red-invert;
$midnight-black: black;
$midnight-gray: #1a1a1a;
$content-gray: lightgray;
$content-green: #14ff72;
$content-title: white;
$post-text-color: white;
$body-color: #333;
$black: #2b2523;